h3 {
    text-align: center;
    font-family: "Times New Roman";
}

h4 {
    text-align: center;
    line-height: 10pt;
    font-style: normal;
    font-family: "Times New Roman";
}

body {
    background-image: url("img/top.png");
    background-size: cover;
}

#header {
    height: 1%;
    background-color: white;
    padding-top: 10px;
    margin: 0;
    width: 100%
}

#header span {
    display: inline-block;
    font-size: 12px;
    vertical-align:top;
}

@media (min-width:500px){
    .push-right {
        padding-left:65%;
    }

    h1 {
        font-size: 100px;
        color: #9d7865;
        font-style: italic;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: "Times New Roman";
    }

    #program span{
        display: inline-block;
        width: 40%;
        padding-left: auto;
        text-align: center;
    }

}

@media (max-width:499px){
    .push-right {
        padding-left:0%;
    }

    h1 {
        font-size: 70px;
        color: #9d7865;
        font-style: italic;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: "Times New Roman";
    }

    #program span{
        display: inline-block;
    }
}

#header ul{
    list-style-type: none;
}

#header li{
    display: inline;
    right: 0;
}

.icon {
    height:50px;
}

#content {
    text-align: center;
    background-image: url("img/paper.jpg");
    background-size: cover;
    opacity:95%;
}

#content p {
    line-height: 10pt;
    font-family: "Times New Roman";
}

#program {
    background-color: #bda99e;
    opacity:80%;
    width:100%;
    text-align: center;
}

#program ul{
    padding-left: 20px;
    text-align: left;
}

#program table, th, td{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

#footer {
    display:flex;
    background-color: #bda99e;
    opacity:95%;
    width:100%;
    align-items: center;
}




